html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: spacemono ;
  src: url(/SpaceMono-Bold.ttf);
} 

h1 {
  font-family: spacemono;
  font-size: 3rem;
  /* width: 50%; */
  text-align: center;
}